@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(114, 98, 98, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #0a0a0b, #0d0d0e);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  background: rgb(108, 104, 104);
  min-height: 70vh;
  width: 55%;
  background: linear-gradient(to right bottom, rgba(57, 47, 47, 0.5),
   rgba(85, 76, 76, 0.5));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  font-family: "Lato", sans-serif;
  display: flex;

}

.circle1, .circle2{
  background: rgb(58, 51, 51);
  background: linear-gradient(to right bottom, rgba(108, 102, 102, 0.9), rgba(255,255,255,0.1));
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;

}
.circle1{
  right: 10%;
  top: 5%;
}

.circle2{
bottom: 5%;
left:10%;
}

.container {
  margin-top: 10px;
  margin: 10px;
  width: 60%;
  flex: 3;
}

h2 {
  color: #ff1eec;
  font-weight: 600;
  opacity: 0.8;
  text-align: center;
  border-bottom: 1px solid #f252fa;
  padding-bottom: 10px;
  font-size: 2rem;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #fa52e6;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: #fe0acd;
}

.container h4{
  margin-top: 20px;
}

h4 {
  margin: 5px;
  text-transform: uppercase;
  color: #f214eb;

  
}

.inc-exp-container{
  background-color: #f532e5;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div :first-of-type {
  border-right: 1px solid #dedede;
  
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px;
  text-align: center;
}


.money.plus {
  color: #49ed8d;
}

.money.minus {
  color: #f07d6e;
}

label {
  display: inline-block;
  margin: 10px 0;
  color: #e314f5;
  font-weight: 500;
  /*opacity: 0.8;*/

}

input[type="text"], input[type="number"] {
  border: 1px solid #fa14f3;
  border-radius: 5px;
  padding: 10px;
  display: block;
  font-size: 16px;
  width: 100%;

  
  background: linear-gradient(to right bottom, rgba(53, 48, 48, 0.9), rgba(87, 80, 80, 0.1));
}

.btn {
  cursor: pointer;
  background-color:#f252fa;
  box-shadow: var(--box-shadow);
  color: white;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border:#f911f9;
}

.list{
  list-style-type:none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: rgb(109, 101, 101); 
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

  background: linear-gradient(to right bottom, rgba(79, 74, 74, 0.9), rgba(55, 50, 50, 0.1));
}

.list li.plus {
  border-right: 5px solid #49ed8d;
}

.list li.minus {
  border-right: 5px solid #f07d6e;
}

.delete-btn {
  cursor: pointer;
  background-color: #f07d6e;
  border: 0;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
 /* float: right;*/
 /* justify-content:right;*/
 /*  margin-right: -90px;*/
 /* top: 50%; */
  margin-left: -189px;
  transform:  translate(250%, -10%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;

}

.list li:hover .delete-btn {
  opacity: 1;
}

.dashboard {
  
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.1));
  align-items:center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 2rem;
  width: 10px;
 /* padding: ; */
  flex: 1;
}

.dashboard img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.8;
}

.dashboard img:hover{
  opacity: 1;
}

.links{
  align-items: center;
}

.links p {
  line-height: 30px;
  color: #fc10fc;
}

.dashboard h4 {
  font-size: 12px;
  margin-bottom: 30px;
}


























